<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FRPTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <FRPTray.Properties.Settings>
            <setting name="LocalPort" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>24000</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>frpc.server.com</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartTunnelOnRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value>CHANGE_ME_STRONG_TOKEN</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>7000</value>
            </setting>
            <setting name="ProxyPrefix" serializeAs="String">
                <value />
            </setting>
        </FRPTray.Properties.Settings>
    </userSettings>
</configuration>